# History files
.Rhistory
# Example code in package build process
*-Ex.R
.Rprofile
.Rproj.user
embodied.Rproj
video
^\.travis\.yml
inst/sandbox/out
README.html
motion_path.html
vignettes/embodied-package.Rproj
