export("%l%")
export(binify)
export(command)
export(convert_to_mp4)
export(dir_png)
export(grid_calc)
export(grid_coord)
export(gridify)
export(gridify_pdf)
export(lookup)
export(merge_pdf)
export(mp4_duration)
export(mp4_interval)
export(mp4_to_png)
export(mp4_to_times)
export(n_img)
export(plot_grid)
export(png_dims)
export(png_to_mp4)
export(read_embodied)
export(read_png)
export(resize)
export(sec_to_hms)
export(size_ratio)
export(write_embodied)
importFrom(chron,times)
importFrom(ggplot2,aes)
importFrom(ggplot2,annotation_custom)
importFrom(ggplot2,coord_cartesian)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,geom_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggtitle)
importFrom(ggplot2,theme)
importFrom(ggplot2,theme_bw)
importFrom(grid,rasterGrob)
importFrom(grid,unit)
importFrom(parallel,clusterEvalQ)
importFrom(parallel,clusterExport)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,parLapply)
importFrom(parallel,stopCluster)
importFrom(png,readPNG)
importFrom(reshape2,melt)
importFrom(tools,file_ext)
importFrom(tools,file_path_sans_ext)
